body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*  CLASES GENERALES  */
.full{
    width: 100%;
}

.center{
    width: 40%;
    margin: auto;
}

/* CLASES ESPECIFICAS */
.header{
    height: 10vh;
    align-content: center;
}

h1{
    font-size: 2.35em;
}

.wrapper{
    background-color: lightgray;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}

.card{
    margin: 10% 0;
}

.card header, .card footer{
    background-color: white;
}

.card header{
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
}
.card footer{
    padding: 2%;
}

.cardImageContainer{
    margin: 0;
    display:flex;
}

.cardImage{
    height: 100%;
    object-fit:fill;
}

.cardDate{
    color: grey;
}